<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458408409784-edtn3bhablib22bglq8u0cnuvt8t5ohi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458408409784-edtn3bhablib22bglq8u0cnuvt8t5ohi</string>
	<key>API_KEY</key>
	<string>AIzaSyAIGcD8rH3ld9vS-2zayzjj7v_wziq76yc</string>
	<key>GCM_SENDER_ID</key>
	<string>458408409784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcas.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-d3ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-d3ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458408409784:ios:6d181330350b7d295e924d</string>
	<key>DATABASE_URL</key>
	<string>https://uber-clone-d3ddd.firebaseio.com</string>
</dict>
</plist>